<!--Scripts dessa página -->
<script>
    <script src="{{ url_for('static', filename='js/maiastartcripts.js') }}" />
</script>
{% extends "layout.html" %}
{% block title %}
MAIA - Artificial Worlds
{% endblock %}
{% block content %}
<div id="env" name="env" > Env: <strong>{{environment}}</strong> Grid: <strong>{{ngrid}}</strong>
    Heuristic: <strong>{{heuristic}}</strong> Number_of_Agents: <strong>{{nagents}} 
    </strong> Interactive: <strong>{{interactive}}</strong>
</div> 
<table>
    <tr>
        <td>
            <div id='readout'></div>
            <canvas id='canvas' name="canvas" class ="canvas" width='500' height='500'>
                Canvas not supported
            </canvas>
        </td>
        <td>
            <button id="runbutton" name="runbuttom" onclick="inicio()"> RUN </button>
            <button id="stopbutton" name="stopbuttom" onclick="fim()"> STOP </button>
            <button id="save" name="save" onclick="save()">Save</button>
            <p> Operations:  </p>
            <p id="tempodecorrido" name="tempodecorrido"> Elapsed Time: </p>
            <br>
        </td> 
        <td>
            <div id='outputspace'></div>
            <canvas id='outgraph' name="outgraph" class ="canvas" width='850' height='500'>
                Canvas not supported
            </canvas>
        </td>
    </tr>
</table>
{% endblock %}
